[Desktop Entry]
Version=1.0
Type=Application
Name=TV Brightness
Comment=Control LG TV OLED Pixel Brightness
Exec=@LG_BUDDY_BIN@ brightness
Icon=display-brightness
Terminal=false
Categories=Utility;
