[Unit]
Description=LG Buddy Screen Monitor Service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=@LG_BUDDY_BIN@ monitor
Restart=always
RestartSec=10

[Install]
WantedBy=graphical-session.target
